<div class="middle-box text-center loginscreen animated fadeInDown">
  <div><h1 class="logo-name">CT+</h1></div>
  <%= form_for(:session, url: login_path, html: { class: "m-t" } ) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: "Email" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: 'form-control', placeholder: "Senha" %>
  </div>
  <%= f.submit 'Entrar', class: "btn btn-primary block full-width m-b" %>
  <% end %>
  <%= link_to "Esqueceu a senha?", new_password_reset_path %><br/>
  <%= link_to "Reenviar link ativação", resend_activation_path %>
  <p class="m-t"> <small>Consulltec &copy; 2015</small> </p>
</div>
