<div class="passwordBox animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox-content">

        <h2 class="font-bold">Redefinir senha</h2>
        <p>Digite suas novas credenciais.</p>

        <div class="row">
          <div class="col-lg-12">
            <%= form_for(@user, url: password_reset_path(params[:id]), html: { class: 'm-t'}) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <%= hidden_field_tag :email, @user.email %>
              <div class="form-group">
                <%= f.password_field :password, class: 'form-control', placeholder: 'Nova senha', autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.password_field :password_confirmation, placeholder: "Confirmação", class: 'form-control' %>
              </div>
              <%= f.submit "Confirmar", class: "btn btn-primary block full-width m-b" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


