<div class="passwordBox animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox-content">

        <h2 class="font-bold">Solicitar nova senha</h2>
        <p>Digite email de sua conta para receber instruções:</p>

        <div class="row">
          <div class="col-lg-12">
            <%= form_for(:password_reset, url: password_resets_path, html: { class: 'm-t'} ) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, class: 'form-control', placeholder: "Email", autofocus: true %>
              </div>
              <%= f.submit 'Solicitar', class: "btn btn-primary block full-width m-b" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


