<p>Oi <%= @user.name %>,</p>

<p>
Clique no link abaixo para ativar sua conta:
</p>

<%= link_to "Ativar", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>


