Para resetar sua senha clique no link abaixo:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Este link vai expirar em duas horas.

Se não solicitou alteração de senha, por favor ignore este email sua senha vai ficar como é.
