<p>Para resetar sua senha clique no link abaixo:</p>

<%= link_to "Resetar senha", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Este link vai expirar em duas horas.</p>

<p>
Se não solicitou alteração de senha, por favor ignore este email sua senha vai ficar como é.
</p>
