<%= form_for @user, html: { class:"form-horizontal" } do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :name, class: "col-sm-2 control-label required" %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: 'form-control', autofocus: true %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :email, class: "col-sm-2 control-label required" %>
  <div class="col-sm-10">
    <%= f.text_field :email, class: 'form-control'%>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :phone, class: "col-sm-2 control-label required" %>
  <div class="col-sm-10">
    <%= f.text_field :phone, class: 'form-control', data: { mask: '(99) 99999-9999'} %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<% if current_user == @user || current_user.role == 'administrator' %>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label required" %>
    <div class="col-sm-10">
      <%= f.password_field :password, class: 'form-control'%>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-2 control-label required" %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: 'form-control'%>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

<% end %>

 <% if current_user.administrator? %>
<div class="form-group">
  <%= f.label :role, class: "col-sm-2 control-label required" %>
  <div class="col-sm-10">
    <%= f.select :role, User.roles.keys.to_a, { include_blank: true }, { class: 'form-control' } %>
  </div>
</div>
<div class="hr-line-dashed"></div>
<% else %>
  <%= f.hidden_field :role, value: @user.role %>
<% end %>

<div class="form-group">
  <div class="col-sm-8 col-sm-offset-2">
    <%= f.submit class: "btn btn-success", data: { disable_with: "Processando..." } %>
  </div>
</div>
<% end %>
