<div class="row">
  <div class="col-md-12" id="list">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>
          <%= link_to new_user_path do %>
          <i class="fa fa-plus"></i> Adicionar usuário
          <% end %>
        </h5>
      </div>
      <div class="ibox-content">
        <table class="datatable table table-stripped">
          <thead>
            <tr>
              <th data-sort-initial="true">Name</th>
              <th data-hide="phone">Email</th>
              <th data-hide="phone">Telefone</th>
              <th data-hide="phone,tablet" data-sort-ignore="true"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.phone %></td>
              <td>
                <%= link_to '', user, method: 'delete', data: { confirm: 'Tem certeza?' }, class:'actions pull-right fa fa-trash text-danger' %>
                <%= link_to '', edit_user_path(user), class:'actions pull-right fa fa-edit text-navy' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <ul class="pagination">
          <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
        </ul>
      </div>
    </div>
  </div>
</div>
