<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type == 'notice' ? 'success' : message_type %> alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <%= message %>
    </div>
<% end %>