<%= form_for @client, html: { class:"form-horizontal", multipart: true} do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :parent, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select :parent_id, Client.where(parent_id: nil, deleted_at: nil).order(:name).pluck(:name, :id), { include_blank: true }, { class: 'form-control' } %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :name, class: "col-sm-2 control-label required" %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: 'form-control', autofocus: true %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :cnpj, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :cnpj, class: 'form-control', data: { mask: '99.999.999/9999-99'}  %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :cep, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :cep, class: 'form-control', data: { mask: '99999-999'} %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :address, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :address, class: 'form-control' %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :number, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :number, class: 'form-control' %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :complement, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :complement, class: 'form-control' %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :city, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :city, class: 'form-control' %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :state, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :state, class: 'form-control' %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :contact, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :contact, class: 'form-control' %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :phone, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :phone, class: 'form-control', data: { mask: '(99) 99999-9999'} %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :email, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :email, class: 'form-control' %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :image, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.file_field :image, class: 'form-control' %>
  </div>
</div>
<div class="row">
<div class="col-md-12">
  <ul class="rig columns-1">
    <% unless @client.image.blank? %>
      <li>
        <%= image_tag @client.image.url %>
        <%= link_to "", @client.image.url, class: "btn btn-success btn-circle btn-sm fa fa-eye pull-left", data: {lightbox: true } %>
      </li>
    <% end %>
  </ul>
</div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <div class="col-sm-8 col-sm-offset-2">
    <%= f.submit class: "btn btn-success", data: { disable_with: "Processando..." } %>
  </div>
</div>
<% end %>
