<div class="row">
  <div class="col-md-12" id="list">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>
          <%= link_to new_client_path do %>
          <i class="fa fa-plus"></i> Adicionar cliente
          <% end %>
        </h5>
      </div>
      <div class="ibox-content">
        <table class="datatable table table-stripped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Cpnj</th>
              <th class='none'>Endereço</th>
              <th class='none'>Número</th>
              <th class='none'>Complemento</th>
              <th class='none'>Cidade</th>
              <th class='none'>Estado</th>
              <th class='none'>CEP</th>
              <th>Contato</th>
              <th>Telefone</th>
              <th>E-mail</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @clients.each do |client| %>
            <tr>
              <td><%= client.name %></td>
              <td><%= client.cnpj %></td>
              <td><%= client.address %></td>
              <td><%= client.number %></td>
              <td><%= client.complement %></td>
              <td><%= client.city %></td>
              <td><%= client.state %></td>
              <td><%= client.cep %></td>
              <td><%= client.contact %></td>
              <td><%= client.phone %></td>
              <td><%= client.email %></td>
              <td>
                <%= link_to '', client, method: 'delete', data: { confirm: 'Tem certeza?' }, class:'actions pull-right fa fa-trash text-danger' %>
                <%= link_to '', edit_client_path(client), class:'actions pull-right fa fa-edit text-navy' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <ul class="pagination">
          <%= will_paginate @clients, renderer: BootstrapPagination::Rails %>
        </ul>
      </div>
    </div>
  </div>
</div>
