<div class="passwordBox animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox-content">
        <h2 class="font-bold">Reenviar ativação</h2>
        <div class="row">
          <div class="col-lg-12">
            <%= form_for(@user, url: resend_activation_path, html: { class: 'm-t'}) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, class: 'form-control', placeholder: "Email", autofocus: true %>
              </div>
              <%= f.submit "Reenviar", class: "btn btn-primary block full-width m-b" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


