<div class="row">
  <div class="col-sm-8 col-sm-offset-2" id="list">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>
          Relatório gerencial
        </h5>
      </div>
      <div class="ibox-content">
        <%= form_tag report_path, method: 'post', class:"form-horizontal" do |f| %>

          <div class="form-group">
            <%= label_tag "Serviço", nil, class: "col-sm-2 control-label required" %>
            <div class="col-sm-10">
              <%= select_tag :service, options_for_select(Scheduling.services.map {|k,v| [k,v]}), include_blank: true, class: 'form-control' %>
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <%= label_tag "Cliente", nil, class: "col-sm-2 control-label required" %>
            <div class="col-sm-10">
              <%= select_tag :parent, options_from_collection_for_select(Client.where(parent_id: nil).order(:name), 'id', 'name'), include_blank: true, class: 'form-control'%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <%= label_tag "Filial", nil, class: "col-sm-2 control-label required" %>
            <div class="col-sm-10">
              <%= select_tag :client, option_groups_from_collection_for_select(Client.where(parent_id: nil).order(:name), :child, :name, :id, :label), include_blank: true, class: 'form-control'%>
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <%= label_tag "De", nil, class: "col-sm-2 control-label required" %>
            <div class="col-sm-10">
              <div class="input-group date">
                <%= text_field_tag :start, nil, class: 'form-control datetimepicker' %>
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <%= label_tag "Até", nil, class: "col-sm-2 control-label required" %>
            <div class="col-sm-10">
              <div class="input-group date">
                <%= text_field_tag :end, nil, class: 'form-control datetimepicker' %>
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <div class="col-sm-12">
              <%= submit_tag "Gerar", class: "btn btn-success", data: { disable_with: "Processando..." } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
