<%= form_for @scheduling, html: { class:"form-horizontal" } do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :service, class: "col-sm-2 control-label required" %>
  <div class="col-sm-10">
    <%= f.select :service, Scheduling.services.keys.map { |w| [t("types.#{w}"), w] }, { include_blank: true }, { class: 'form-control' } %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :date, class: "col-sm-2 control-label required" %>
  <div class="col-sm-10">
    <div class="input-group date">
      <%= f.text_field :date, class: 'form-control datetimepicker' %>
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
      </div>
    </div>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :parent, class: "col-sm-2 control-label required" %>
  <div class="col-sm-10">
    <%= f.select :parent_id, Client.where(parent_id: nil).order(:name).pluck(:name, :id), { include_blank: true }, { class: 'form-control' } %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :client, class: "col-sm-2 control-label required" %>
  <div class="col-sm-10">
    <%= f.grouped_collection_select :client_id, Client.where(parent_id: nil).order(:name), :child, :name, :id, :name, { include_blank: true }, { class: 'form-control' } %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <%= f.label :user, class: "col-sm-2 control-label required" %>
  <div class="col-sm-10">
    <%= f.select :user_id, User.all.pluck(:name, :id), { include_blank: true }, { class: 'form-control' } %>
  </div>
</div>
<div class="hr-line-dashed"></div>

<div class="form-group">
  <div class="col-sm-8 col-sm-offset-2">
    <%= f.submit class: "btn btn-success", data: { disable_with: "Processando..." } %>
  </div>
</div>
<% end %>
