<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Editar Agendamento</h5>
			</div>
			<div class="ibox-content">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
