<div class="row">
  <div class="col-md-12" id="list">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>
          <%= link_to new_scheduling_path do %>
          <i class="fa fa-plus"></i>
          Novo agendamento
          <% end %>
        </h5>
        <div class="lado-direito" >

        </div>

      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <div id="DataTables_Table_0_filter" class="dataTables_filter">
              <form class="form-horizontal" action="/schedulings/index" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                <div class="form-group">
                  <input type="radio" name="scheduling[type]" value="client" checked>Cliente/Filial
                  <input type="radio" name="scheduling[type]" value="data">Data
                  <input class="" type="text" name="scheduling[search]" value="">
                  <button type="send" name="button">Buscar</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <table class="table table-stripped">
          <thead>
            <tr>
              <th data-hide="phone">Serviço</th>
              <th>Data</th>
              <th data-hide="phone,tablet">Cliente</th>
              <th data-hide="phone,tablet">Filial</th>
              <th data-hide="phone,tablet">Técnico</th>
              <th data-hide="phone,tablet" data-sort-ignore="true"></th>
            </tr>
          </thead>
          <tbody>
            <% @schedulings.each do |scheduling| %>
            <tr>
              <td><%= t("types.#{scheduling.service}") %></td>
              <td><%= scheduling.date %></td>
              <td>
              <%= if scheduling.parent then scheduling.parent.name else "---" end %>
              </td>
              <td><%= scheduling.client.name %></td>
              <td><%= scheduling.user.name %></td>
              <td>
                <%= link_to '', scheduling, method: 'delete', data: { confirm: 'Tem certeza?' }, class:'actions pull-right fa fa-trash text-danger' %>
                <%= link_to '', edit_scheduling_path(scheduling), class:'actions pull-right fa fa-edit text-navy' %>
                <% if scheduling.limpeza_exaustao? || scheduling.limpeza_ar_condicionado?  %>
                  <% if scheduling.execution  %>
                    <%= link_to '', scheduling.execution.actable, class:'actions pull-right fa fa-check text-success' %>
                  <% else %>
                    <%= link_to '', new_exhaustion_path(scheduling_id: scheduling.id), class:'actions pull-right fa fa-calendar text-warning' %>
                  <% end %>
                <% end %>
                <% if scheduling.vistoria?  %>
                  <% if scheduling.execution  %>
                    <%= link_to '', scheduling.execution.actable, class:'actions pull-right fa fa-check text-success' %>
                  <% else %>
                    <%= link_to '', new_inspection_path(scheduling_id: scheduling.id), class:'actions pull-right fa fa-calendar text-warning' %>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <ul class="pagination">
        <%= will_paginate @schedulings, renderer: BootstrapPagination::Rails, params: params.to_unsafe_h %>
      </ul>
      </div>
    </div>
  </div>
</div>
