<%= form_for @inspection, html: { class:"form-horizontal"} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="row">
	<div class="form-group">
		<%= f.label :manager, :class => 'col-sm-2  control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :manager, class: 'form-control'  %>
		</div>
	</div>
	<div class="hr-line-dashed"></div>
	<div class="form-group">
		<%= f.label :observation, :class => 'col-sm-2  control-label' %>
		<div class="col-sm-10">
			<%= f.text_area :observation, class: 'form-control'  %>
		</div>
	</div>
	<div class="hr-line-dashed"></div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<%= f.label :hoods_state, :class => 'col-sm-10  control-label' %>
			<div class="col-sm-2">
				<%= f.check_box :hoods_state, class: 'form-control js-switch'  %>
			</div>
		</div>

		<div class="hr-line-dashed"></div>
		<div class="form-group">
			<%= f.label :hoods_clean, :class => 'col-sm-10  control-label' %>
			<div class="col-sm-2">
				<%= f.check_box :hoods_clean, class: 'form-control js-switch'  %>
			</div>
		</div>
		<div class="hr-line-dashed"></div>

		<div class="form-group">
			<%= f.label :flame_trap, :class => 'col-sm-10  control-label' %>
			<div class="col-sm-2">
				<%= f.check_box :flame_trap, class: 'form-control js-switch'  %>
			</div>
		</div>
		<div class="hr-line-dashed"></div>

		<div class="form-group">
			<%= f.label :flame_damper, :class => 'col-sm-10  control-label' %>
			<div class="col-sm-2">
				<%= f.check_box :flame_damper, class: 'form-control js-switch'  %>
			</div>
		</div>
		<div class="hr-line-dashed"></div>

		<div class="form-group">
			<%= f.label :flame_system, :class => 'col-sm-10  control-label' %>
			<div class="col-sm-2">
				<%= f.check_box :flame_system, class: 'form-control js-switch'  %>
			</div>
		</div>
		<div class="hr-line-dashed"></div>

	</div>
<div class="col-sm-6">
		<div class="form-group">
			<%= f.label :fog, :class => 'col-sm-10  control-label' %>
			<div class="col-sm-2">
				<%= f.check_box :fog, class: 'form-control js-switch'  %>
			</div>
		</div>

		<div class="hr-line-dashed"></div>
		<div class="form-group">
			<%= f.label :risk, :class => 'col-sm-10  control-label' %>
			<div class="col-sm-2">
				<%= f.check_box :risk, class: 'form-control js-switch'  %>
			</div>
		</div>

		<div class="hr-line-dashed"></div>
		<div class="form-group">
			<%= f.label :exhaustion, :class => 'col-sm-10  control-label' %>
			<div class="col-sm-2">
				<%= f.check_box :exhaustion, class: 'form-control js-switch'  %>
			</div>
		</div>

		<div class="hr-line-dashed"></div>
		<div class="form-group">
			<%= f.label :window, :class => 'col-sm-10  control-label' %>
			<div class="col-sm-2">
				<%= f.check_box :window, class: 'form-control js-switch'  %>
			</div>
		</div>
		<div class="hr-line-dashed"></div>

		<div class="form-group">
			<%= f.label :ducts, :class => 'col-sm-10  control-label' %>
			<div class="col-sm-2">
				<%= f.check_box :ducts, class: 'form-control js-switch'  %>
			</div>
		</div>
		<div class="hr-line-dashed"></div>
	</div>
</div>

<%= f.hidden_field :scheduling_id, value: @inspection.scheduling.id %>

<div class="form-group">
	<div class="col-sm-8 col-sm-offset-2">
		<%= f.submit class: "btn btn-success", data: { disable_with: "Processando..." }, id: 'submit-exa' %>
	</div>
</div>
<% end %>