<div class="row">
	<div class="col-lg-12">
		<div class="ibox product-detail">
			<div class="ibox-content">

				<div class="row">
					<div class="col-md-4">
						<h2 class="font-bold m-b-xs">
							<%= @inspection.scheduling.parent.name if @inspection.scheduling.parent %>
						</h2>
						<div class="m-t-md">
							<h2 class="product-main-price">
								<%= @inspection.scheduling.client.name %>
							</h2>
						</div>
						<hr>
						<h4>Vistoria</h4>
						<div class="small text-muted">
						</div>
						<dl class="small m-t-md">
							<dt>Gerente atendimento</dt>
							<dd><%= @inspection.manager %></dd>
						</dl>
						<dl class="small m-t-md">
							<dt>Observação</dt>
							<dd><%= @inspection.observation %></dd>
						</dl>
						<hr>
						<div>
							<div>
								<%= link_to "Editar", edit_inspection_path(@inspection), class: "btn btn-primary btn-sm fa fa-edit" %>
								<%= link_to "Adicionar fotos", inspection_pictures_path(@inspection), class: "btn btn-primary btn-sm fa fa-photo" %>
								<%= link_to "", inspection_path(@inspection, format: :pdf), class: "btn btn-success btn-sm fa fa-print" %>
								<%= link_to "", @inspection, method: :delete, class: "btn btn-danger btn-sm fa fa-trash", data: {confirm: 'Tem certeza?'} %>
							</div>
						</div>
					</div>
					<div class="col-md-8">
					<div class="row">
					<div class="col-md-12">
						<h2>Antes:</h2>
						<ul class="rig columns-4">
							<% @inspection.pictures.before.each do |picture| %>
							<li>
								<%= image_tag picture.image.url %>
								<%= link_to "", inspection_pictures_path(@inspection, picture_id: picture.id), method: :delete, class: "pull-left btn btn-danger btn-circle btn-sm fa fa-trash", data: {confirm: 'Tem certeza?'} %>
								<%= link_to "", picture.image.url, class: "btn btn-success btn-circle btn-sm fa fa-eye pull-left", data: {lightbox: true } %>
							</li>
							<% end %>
						</ul>
					</div>
					<div class="col-md-12">
						<h2>Depois:</h2>
						<ul class="rig columns-4">
							<% @inspection.pictures.after.each do |picture| %>
							<li>
								<%= image_tag picture.image.url %>
								<%= link_to "", inspection_pictures_path(@inspection, picture_id: picture.id), method: :delete, class: "pull-left btn btn-danger btn-circle btn-sm fa fa-trash", data: {confirm: 'Tem certeza?'} %>
								<%= link_to "", picture.image.url, class: "btn btn-success btn-circle btn-sm fa fa-eye pull-left", data: {lightbox: true } %>
							</li>
							<% end %>
						</ul>
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
