<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar"
                data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <%= link_to 'Consulltec', root_path, class: 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <!-- <li class="<%= is_current_page? root_path %>">
                    <%# link_to 'Início', root_path %>
                </li> -->
                <% if current_user.administrator? or current_user.moderator? %>
                    <li class="<%= is_current_page? users_path %>">
                        <%= link_to 'Usuários', users_path %>
                    </li>
                    <li class="<%= is_current_page? clients_path %>">
                        <%= link_to 'Clientes', clients_path %>
                    </li>
                <% end %>
                <li class="<%= is_current_page? schedulings_path %>">
                    <%= link_to 'Agendamentos', schedulings_path %>
                </li>
                <li class="<%= is_current_page? report_path %>">
                    <%= link_to 'Relatório Gerencial', report_path %>
                </li>
                <!-- <li class="dropdown <%= is_current_page? users_path, clients_path, schedulings_path %>">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle"
                        data-toggle="dropdown"> Menu<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">

                    </ul>
                </li> -->
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <%= link_to "Perfil", edit_user_path(current_user), class: "fa fa-user" %>
                </li>
                <li>
                    <%= link_to "Sair", logout_path, method: :delete, class: "fa fa-sign-out" %>
                </li>
            </ul>
        </div>
    </nav>
</div>
