<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulltec</title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">

            <%= render 'layouts/topnavbar' %>

            <div class="wrapper wrapper-content">
                <div class="container">
                    <%= render 'shared/messages' %>
                    <%= yield %>
                </div>
            </div>

            <%= debug(params) if Rails.env.development? %>
            <%= render 'layouts/footer' %>

        </div>
    </div>
</body>
</html>
