<%= form_for @exhaustion, html: { class:"form-horizontal"} do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="form-group">
	<%= f.label :manager, :class => 'col-sm-2  control-label' %>
	<div class="col-sm-10">
		<%= f.text_field :manager, class: 'form-control'  %>
	</div>
</div>
<div class="hr-line-dashed"></div>
<div class="form-group">
	<%= f.label :observation, :class => 'col-sm-2  control-label' %>
	<div class="col-sm-10">
		<%= f.text_area :observation, class: 'form-control'  %>
	</div>
</div>

<%= f.hidden_field :scheduling_id, value: @exhaustion.scheduling.id %>

<div class="form-group">
	<div class="col-sm-8 col-sm-offset-2">
		<% title = @exhaustion.scheduling.service %>
		<%= f.submit 'Criar '+ (t 'types.'+@exhaustion.scheduling.service ) , class: "btn btn-success", data: { disable_with: "Processando..." }, id: 'submit-exa' %>
	</div>
</div>
<% end %>
