<div class="row">
	<div class="col-lg-12">

		<div class="ibox product-detail">
			<div class="ibox-content">

				<div class="row">
					<div class="col-md-4">
						<h2 class="font-bold m-b-xs">
							<%= @exhaustion.scheduling.parent.name if @exhaustion.scheduling.parent %>
						</h2>
						<div class="m-t-md">
							<h2 class="product-main-price">
								<%= @exhaustion.scheduling.client.name %>
							</h2>
						</div>
						<hr>
						<h4>Exaustão</h4>

						<div class="small text-muted">
						</div>
						<dl class="small m-t-md">
							<dt>Gerente atendimento</dt>
							<dd><%= @exhaustion.manager %></dd>
						</dl>
						<hr>

						<div>
							<div>
								<%= link_to "Voltar", :back, class: "btn btn-default btn-sm" %>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<h3>Antes:</h3>
						<%= form_for :picture, url: url_for(action: :upload, params: { flag: Picture.flags.keys.first}), :html => {id: 'picture-dropzone', class: :dropzone, multipart: true} do |f| %>
							<div class="dz-message" data-dz-message><span>Clique ou solte arquivos para fazer o upload das fotos antes.</span></div>
							<%= f.hidden_field :image, name: 'picture[image]' %>
						<% end %>
						<div class="hr-line-dashed"></div>
						<h3>Depois:</h3>
						<%= form_for :picture, url: url_for(action: :upload, params: { flag: Picture.flags.keys.second}), :html => {id: 'picture-dropzone', class: :dropzone, multipart: true} do |f| %>
							<div class="dz-message" data-dz-message><span>Clique ou solte arquivos para fazer o upload das fotos depois.</span></div>
							<%= f.hidden_field :image, name: 'picture[image]' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
