<div class="row">
	<div class="col-lg-12">
		<div class="ibox product-detail">
			<div class="ibox-content">

				<div class="row">
					<div class="col-md-4">
						<h2 class="font-bold m-b-xs">
							<%= @exhaustion.scheduling.parent.name if @exhaustion.scheduling.parent %>
						</h2>
						<div class="m-t-md">
							<h2 class="product-main-price">
								<%= @exhaustion.scheduling.client.name %>
							</h2>
						</div>
						<hr>
						<h4><%= t @exhaustion.scheduling.service %></h4>
						<div class="small text-muted">
						</div>
						<dl class="small m-t-md">
							<dt>Gerente atendimento</dt>
							<dd><%= @exhaustion.manager %></dd>
						</dl>
						<dl class="small m-t-md">
							<dt>Observação</dt>
							<dd><%= @exhaustion.observation %></dd>
						</dl>
						<hr>
						<div>
							<div>
								<%= link_to "Editar", edit_exhaustion_path(@exhaustion), class: "btn btn-primary btn-sm fa fa-edit" %>
								<%= link_to "Adicionar fotos", exhaustion_pictures_path(@exhaustion), class: "btn btn-primary btn-sm fa fa-photo" %>
								<%= link_to "", "#exhaustionModal", class: "btn btn-success btn-sm fa fa-print", "data-toggle": "modal", "data-target": "#exhaustionModal" %>
								<%= link_to "", @exhaustion, method: :delete, class: "btn btn-danger btn-sm fa fa-trash", data: {confirm: 'Tem certeza?'} %>
							</div>
						</div>
					</div>
					<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
							<h2>Antes:</h2>
							<ul class="rig columns-4">
								<% @exhaustion.pictures.before.each do |picture| %>
								<li>
									<%= image_tag picture.image.url %>
									<%= link_to "", exhaustion_pictures_path(@exhaustion, picture_id: picture.id), method: :delete, class: "pull-left btn btn-danger btn-circle btn-sm fa fa-trash", data: {confirm: 'Tem certeza?'} %>
									<%= link_to "", picture.image.url, class: "btn btn-success btn-circle btn-sm fa fa-eye pull-left", data: {lightbox: true } %>
								</li>
								<% end %>
							</ul>
						</div>
						<div class="col-md-12">
							<h2>Depois:</h2>
							<ul class="rig columns-4">
								<% @exhaustion.pictures.after.each do |picture| %>
								<li>
									<%= image_tag picture.image.url %>
									<%= link_to "", exhaustion_pictures_path(@exhaustion, picture_id: picture.id), method: :delete, class: "pull-left btn btn-danger btn-circle btn-sm fa fa-trash", data: {confirm: 'Tem certeza?'} %>
									<%= link_to "", picture.image.url, class: "btn btn-success btn-circle btn-sm fa fa-eye pull-left", data: {lightbox: true } %>
								</li>
								<% end %>
							</ul>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exhaustionModal" tabindex="-1" role="dialog" aria-labelledby="Exaustão" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="Exaustão">Escolha a empresa</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
						 <%= form_tag exhaustion_pdf_create_path(@exhaustion), class: "form-horizontal" do %>
							 		<div class="control-group">
											<label for="Consulltec">Consulltec</label>
											<%= radio_button_tag 'enterprise', 'consulltec', true %>
							 		</div>
									<div class="control-group">
										<label for="MN">MN</label>
										<%= radio_button_tag 'enterprise', 'mn' %>
							 		</div>
									<div class="control-group">
										<label for="RoboClear">RoboClear - Marco Antonio</label>
										<%= radio_button_tag 'enterprise', 'rb_marco_antonio' %>
							 		</div>
									<div class="control-group">
										<label for="RoboClear">RoboClear - Marco Venicius</label>
										<%= radio_button_tag 'enterprise', 'rb_marco_venicius' %>
							 		</div>
									<div class="control-group">
										<%= submit_tag 'Gerar Documento', class:"btn btn-primary" %>
											<!-- <button type="button" class="btn btn-primary">Gerar Documento</button> -->
									</div>
							<% end %>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		      </div>
		    </div>
		  </div>
		</div>

	</div>
</div>
